table {
    background-color: rgb(32, 32, 33);
    color: rgba(255, 255, 255, 0.497);
    border-collapse: collapse;
    width: 90.7%;
    margin-left: 140px;
    margin-top: 70px;
    font-size: 14px;
    text-align: center;
    font-weight: 550;


}

thead {
    background-color: rgb(35, 35, 35);
    width: 100%;


}

td {
    padding: 8px;
    border: 1px solid rgb(123, 119, 119);

}

tr {
    height: 50px;
}

tr:hover {
    background-color: rgb(156, 154, 154);
   cursor: pointer;
}