.header {
    background-color: rgba(33, 33, 33, 0.855);
    top: -10px;
    left: 135px;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    color: gray;
    position: fixed;
    position: relative;
    text-align: center;


}

.h1 {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.h2 {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.h1:hover {
    background-color: rgb(206, 204, 204);

}

.h2:hover {
    background-color: antiquewhite;
}

.h3 {
    flex: 1;
    display: flex;
    align-items: end;
    position: absolute;
    right: 150px;
}

.hp1,
.hp2 {
    width: 20px;
}