.header1 {
    display: flex;
    background-color: rgba(33, 33, 33, 0.855);
    height: 50px;
    color: gray;
    align-items: center;
    position: fixed;
    left: 140px;
    right: 0;
    

}

.hb1,
.hb2 {
    background-color: rgb(47, 46, 46);
    padding: 7px;
    border: 1px solid rgb(129, 127, 127);
    border-radius: 4px;
    color: gray;
}

.h11,.h12,.h13,.h14{margin: 30px;
}
.input1,.input2{
padding: 7px; background-color: rgba(43, 43, 43, 0.855); border: 1px solid gray;
border-radius: 5px;

}